<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pre-Owned Books</title>
    <!--link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" -->
    <!-- hyphes will not work in static file names -->
    <!-- it is important to use 'url_for function to indicate 'static' directory
         Otherwise, as we navigate, some static files may not be accessible -->
    <link rel="icon" href="{{ url_for('static', filename='browser_icon.png') }}">
</head>
<body>
<div class="w3-container w3-bar w3-blue">
    <a href="{{ url_for('core_blueprint.index') }}">HOME</a>
    <a href="{{ url_for('users_blueprint.register') }}">Register</a>
    <a href="{{ url_for('users_blueprint.login') }}">Login</a>

    <! --
     We can  access the logged-in user with the 'current_user proxy', which is available in every template.
      Ref: https://flask-login.readthedocs.io/en/latest/#how-it-works
    -->
    {% if current_user.is_authenticated %}
        <a href="{{ url_for('users_blueprint.logout') }}">Logout</a>
        <a href="{{ url_for('users_blueprint.profile') }}">Profile</a>
    {%  endif %}
</div>
{% block content %}
{% endblock %}

</body>
</html>