{% extends "base.html" %}

{# Ref: https://flask.palletsprojects.com/en/1.1.x/patterns/wtforms/#forms-in-templates #}
{% from "_formhelpers.html" import render_field %}

{% block content %}
<h1>Register:</h1>
<! --
Below Form has method specified as post. This is to hide sensitive data.
Query string (name/value pairs) is sent in the URL of a GET request.
eg: GET /users/register?username=user1&password=password&password_confirm=password&submit=Register

The data sent to the server with POST is stored in the request body of the HTTP request.
So, sensitive data like passwords will not be visible in the URL
-->
<form method="POST">
    {# hidden_tag is a CSRF security feature #}
    {# form.validate_on_submit() will not work without this hidden tag #}
    {{ form.hidden_tag() }}
    {{ render_field(form.first_name) }}
    {{ render_field(form.last_name) }}
    {{ render_field(form.email) }}
    {{ render_field(form.username) }}
    {{ render_field(form.password) }}
    {{ render_field(form.password_confirm) }}
    {{ render_field(form.age) }}
    {{ form.submit() }}<br>

</form>
{% endblock %}